<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% unless current_user == @user%> <%# I can request Friendship to everyone except me %>
    <% unless current_user.friendship(@user.id) || current_user.inverse_friendship(@user.id)%> <%# Show Add as friend if I didn't send request %>
      <%= form_for(current_user.sending_requests.build) do |f| %>
        <div><%= hidden_field_tag :receiver_id, @user.id %></div>
        <%= f.submit "Add as a Friend", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <% if current_user.friendship(@user.id).nil? && current_user.inverse_friendship(@user.id).status %> <%# if I got accepted (status is true) current_user is the receiver %>
        <%= form_for(current_user.inverse_friendship(@user.id),
                 html: { method: :delete }) do |f| %>
          <div><%= hidden_field_tag :user_id, @user.id %></div>
          <%= f.submit "Unfriend", class: "btn" %>
        <% end%>
      <% elsif current_user.inverse_friendship(@user.id).nil? && current_user.friendship(@user.id).status %> <%# if I got accepted (status is true) current_user is the sender %>
        <%= form_for(current_user.friendship(@user.id),
                 html: { method: :delete }) do |f| %>
          <div><%= hidden_field_tag :user_id, @user.id %></div>
          <%= f.submit "Unfriend", class: "btn" %>
        <% end%>
      <% elsif current_user.friendship(@user.id).status.nil? %> <%# if I didn't get accepted nor rejected (status is nil) %>
        <%= submit_tag "Pending", class: "btn pending"%>
      <% elsif current_user.friendship(@user.id).status == false %> <%# if I got rejected (status is false) %>
        <%= form_for(current_user.sending_requests.build) do |f| %>
          <div><%= hidden_field_tag :receiver_id, @user.id %></div>
          <%= f.submit "Add as a Friend", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
